<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Política de Privacidad</title>
     <link href="{{ url_for('static', filename='dist/output.css') }}" rel="stylesheet">
</head>
<body class="bg-gray-100 text-gray-800 flex flex-col min-h-screen">
    <header class="py-4 px-4 md:px-6 lg:px-8 bg-white shadow-md">
        <div class="container mx-auto flex justify-between items-center">
            <a href="/" alt="Logo de la empresa" class="text-2xl font-bold text-primary"></a>
            <nav class="hidden md:flex space-x-4">
                <a href="/" alt="inicio" class="text-sm font-medium text-gray-600 hover:text-primary">Inicio</a>
            </nav>
        </div>
    </header>

    <main class="flex-grow container mx-auto py-8 px-4">
        <h1 class="text-3xl font-bold mb-6 text-primary">Política de Privacidad</h1>
        <div class="bg-white p-6 rounded-lg shadow-lg">
            <p class="mb-4">
                Esta Política de Privacidad describe cómo se recopila, utiliza y comparte su información personal cuando visita o interactúa con nuestro sitio web.
            </p>
            <h2 class="text-xl font-semibold mb-2">Información que recopilamos</h2>
            <p class="mb-4">
                Cuando visita éste sitio, recopilamos automáticamente cierta información sobre su dispositivo, incluida información sobre su navegador web, dirección IP, zona horaria y algunas de las cookies que están instaladas en su dispositivo.
            </p>
            <h2 class="text-xl font-semibold mb-2">Cómo usamos su información</h2>
            <p class="mb-4">
                Usamos la información que recopilamos para ayudarnos a detectar posibles riesgos y fraudes, y más generalmente para mejorar y optimizar nuestra web.
            </p>
            <h2 class="text-xl font-semibold mb-2">Compartiendo su información personal</h2>
            <p>
                No compartimos su información personal con terceros.
            </p>
        </div>
    </main>

    <footer class="bg-gray-800 text-white py-6 px-4 md:px-6 lg:px-8">
        <div class="container mx-auto flex flex-col md:flex-row justify-between items-center">
            <div class="text-center md:text-left mb-4 md:mb-0">
                &copy; 2025 Desarrollado por Orlibet Dun. Todos los derechos reservados.
            </div>
            <div class="flex space-x-4">
                <a href="/politica-de-privacidad" alt="politica-de-privacidad" class="hover:text-primary transition duration-300">Política de Privacidad</a>
                <a href="/terminos-de-uso" alt="terminos-de-uso" class="hover:text-primary transition duration-300">Términos de Uso</a>
            </div>
        </div>
    </footer>
</body>
</html>